@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #F2F2F2;
  --foreground: #0C0C0C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0C0C;
    --foreground: #F2F2F2;  
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
  font-weight: bold;
}
h2{
  font-size: 25px;
  font-weight:500;
}

h3{
  font-size: 30px;
  font-weight:lighter;
}

.button-primary {
  display: inline-block;
  padding: 10px 60px;
  /* background: linear-gradient(to right, #E99C05,#F4AE00, #FCB023);; */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  @apply hover:-scale-x-150;
  
}

.button-primary:hover {
  cursor: pointer;
  background: linear-gradient(to left, #E99C05,#F4AE00, #FCB023); 

  transform: translateY(-2px);
  /* transform: scale(1.05); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bg-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.button-primary:active {
  transform: translateY(2px);
}

.backprim {
  background: linear-gradient(to left, #E99C05,#F4AE00, #FCB023);

}


.input-primary {
  /* margin-top: 25px; */
  padding: 0.5rem 1rem;
  height: 60px;
  
  border: 1px solid #00000059;  /* Default border */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.315);
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  @apply min-w-[300px] md:min-w-[600px];
}

.input-primary:focus {
  border: 1px solid transparent; /* Remove default border on focus */
  box-shadow: 0 0 0 2px rgba(233, 156, 5, 0.8);  /* Glow effect */
}

/* Error message styles */
.error-message {
  color: red;          /* Red text for error */
  font-size: 12px;      /* Smaller font size */
  margin-top: 5px;      /* Space between input and error message */
  text-align: left;     /* Align the error message to the left */
          /* Ensure it lines up with the input width */
  margin-left: auto;    /* Center align the error message horizontally */
  margin-right: auto;   /* Center align the error message horizontally */
}

/* Red border for inputs with errors */
.input-error {
  border: 1px solid red;       /* Red border */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Soft red glow */
}
.eye-icon {
  /* position: absolute; */
  
  /* top: 50%;
  right: 36%; 
  transform: translateY(-50%); */
  cursor: pointer;  
  font-size: 20px;   
  color: #888;     
  transition: color 0.3s ease;  
}

.eye-icon:hover {
  color: #333;  /* Change color on hover */
}





